/* --- Import Components stylesheets --- */
@import url("components/avatar.scss");
@import url("components/container.scss");
@import url("components/button.scss");

p {
  margin-top: 40vh;
  text-align: center;
  font: normal 24px monospace;
  color: orangered;
}
